.thin-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
}
